<ion-header>
  <ion-toolbar><b><p class="p">Help & Support</p></b>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content>

  <div class="margin">
  <h6>What can we help you with?</h6><br>

 
  <ion-radio-group value="secondary" >
    <ion-radio value="Appointments" labelPlacement="end" aria-label="Secondary" >Appointments</ion-radio><br />
    <ion-radio value="Health Cards" labelPlacement="end" >Health Cards</ion-radio><br />
    <ion-radio value="Payment & Refunds" labelPlacement="end" >Payment & Refunds</ion-radio><br />
    <ion-radio value="Presciption & Medicine Delivery" labelPlacement="end" >Presciption & Medicine Delivery</ion-radio>
    <ion-radio value="Services & Partners" labelPlacement="end" >Services & Partners</ion-radio>
    <ion-radio value="Using Rapid HealthCare" labelPlacement="end" >Using Rapid HealthCare</ion-radio>
  </ion-radio-group>

  <br><br><ion-button>Select</ion-button>
  </div>
</ion-content>
<ion-footer></ion-footer>