<ion-header><app-footer></app-footer></ion-header>

<ion-content >
  <ion-segment value="Find">
    <ion-segment-button value="Find">
      <ion-label style="font-size:smaller;">Find A service</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Ongoing">
      <ion-label>Ongoing</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Completed">
      <ion-label>Completed</ion-label>
      </ion-segment-button>
  </ion-segment>
</ion-content>

<ion-footer><ion-toolbar><app-tabs></app-tabs></ion-toolbar></ion-footer>