<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>
<ion-content>

<div  class="center-container">
  <ion-card class="center-content">
    <ion-card-header>
      <ion-card-title>Human Verification Code</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #infoForm="ngForm" (ngSubmit)="User(infoForm.value)">
      <ion-text>Enter the text</ion-text>
      <ion-input name = 'userInput' ngModel type='text' fill="outline" placeholder="Enter text"></ion-input>
      <ion-img src="../../assets/captcha.png">
      </ion-img>
      <ion-button type="submit"> Verify</ion-button>
       </form>
      <div *ngIf="inputUser==captcha; then myIf else myelse"></div>
      <ng-template #myIf><a [routerLink]="['/form']"><br>This is the link Tap to Continue</a>
        
       </ng-template>
      <ng-template #myelse><p>Invalid</p></ng-template>
    </ion-card-content>
  </ion-card>
</div> 
  
</ion-content>



        <!--  [buttons]="alertButtons" -->