<ion-header><app-footer></app-footer></ion-header>
<ion-content>
    <ion-segment value="all">
        <ion-segment-button value="all" #all>
          <ion-label style="font-size:small;">All Messages</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Doctors">
          <ion-label>Doctors</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Services">
          <ion-label>Services</ion-label>
          </ion-segment-button>
      </ion-segment>
      
</ion-content>
<ion-footer></ion-footer>

<ion-footer><ion-toolbar><app-tabs></app-tabs></ion-toolbar></ion-footer>