.subtitle{
    
    font-size: small;
    color: grey;
    margin-top: 0px;
}

.title{
    position:sticky;
    margin-top: 0px;
}

.samp{
    line-height: 1.5em;
}

.pLink{
    color:rgb(0, 132, 255);
    text-decoration: underline; 
   
    text-align: right;
}

.text-number{
    font-size: 14px;
    font-weight: lighter;
}