<ion-header><app-footer></app-footer></ion-header>

<ion-content>
  
<div class="home-banner">
<img src="../../assets/doctor_consultation_03.jpg">
</div>
<div class="p1">
<p>Need a Doctor?</p>
</div> 
<ion-searchbar show-clear-button="focus" placeholder="Search by Doctors Name, Services etc"></ion-searchbar>


<ion-card style="border-radius: 15px;">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="7"><h2 style="color:black; font-weight: bold;" >Talk to a doctor now</h2><p>Consult with a doctor available now within a minutes</p></ion-col>
        <ion-col size="5"> <ion-avatar style="margin-left:100px; position: absolute; width: 100px; height: 100px;"><img  src="../../assets/doctor.jpg"></ion-avatar></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
      </ion-row>
      <ion-button shape="round" expand="full" style="--background:rgb(66, 182, 55);">Consult Now</ion-button>
    </ion-grid>
  </ion-card-content>
</ion-card>

<p class="pSubtitle">How to use Rapid HealthCare</p>
<ion-grid>
  <ion-row>
    <ion-col size="6"><ion-card>
      <ion-card-content>
        <ion-img src="../../assets/calendar.jpg"></ion-img>
        <ion-text class="textCenter">Book Doctor's Consultation</ion-text><br>
      </ion-card-content>
    </ion-card></ion-col>
    <ion-col size="6"><ion-card>
      <ion-card-content>
        <ion-img src="../../assets/card.jpg"></ion-img>
        <ion-text class="textCenter">Using your Health Card</ion-text>
      </ion-card-content>
    </ion-card></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6"><ion-card>
      <ion-card-content>
        <ion-img src="../../assets/delivery.jpg"></ion-img>
        <ion-text class="textCenter">Order Medicine</ion-text><br>
      </ion-card-content>
    </ion-card></ion-col><ion-col size="6"><ion-card>
      <ion-card-content>
        <ion-img src="../../assets/lab.jpg"></ion-img>
        <ion-text class="textCenter">Home Service Lab Tests</ion-text>
      </ion-card-content>
    </ion-card></ion-col>
  </ion-row>
</ion-grid>



</ion-content>


<ion-footer><ion-toolbar><app-tabs></app-tabs></ion-toolbar></ion-footer>
